@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #39AE2A;
  --color-success: #347554;
  --color-secondary: #FFBF05;
  --color-gray: #323232;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

@layer components {

  .title {
    @apply text-3xl font-bold;
  }

  .heading {
    @apply font-bold text-3xl
  }

  .subheading {
    @apply text-2xl font-semibold
  }

  .label {
    @apply font-semibold
  }

  .link {
    @apply font-semibold;
    color: var(--primary)
  }

  .detail {
    @apply italic
  }

  /* heading 3 and body are just normal text sizes + colors + no boldness so no need to store it */
}